// Declare variables ----------------------------------------------------------------
$grid-spacing: 10vh;
$screen-width: 90%;

// Declare mixins -------------------------------------------------------------------
@mixin space($width, $margin) {
    width: $width;
    margin: $margin;
}

// Declare elements -----------------------------------------------------------------
body {
    margin: 0;
    padding: 0;
}
footer, h1 {
    text-align: center;
}
footer a {
    background-color: $brown;
    display: inline-block;
    width: 60px;
    padding: 5px 0px 5px 0px;
    margin: 10px;
    border-radius: 10%;
    text-decoration: none;
    color: $white;
    &:hover {
        background-color: $red-orange;
        color: $white;
    }
}
h2, h3, ul {
    margin: 0 20px;
}
li {
    list-style-type: none;
    margin-bottom: 10px;
}
p, footer, .sidebar h3 {
    margin: 20px;
}
ul {
    padding: 0;
}

// Declare classes -------------------------------------------------------------------
.design-selection {
    ul {
        display: grid;
        text-align: center;
        li {
            display: grid;
            grid-template-rows: auto 16px auto;
            background-image: url("assets/wanted_poster.png");
            background-size: 150px auto;
            background-repeat: no-repeat;
            width: 150px;
            height: 196px;
            margin: auto auto 20px auto;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
            a:nth-child(1) {
                display: grid;
                align-items: flex-end;
            }
        }
        @media only screen and (min-width: 600px) {
            grid-template-columns: auto auto;
        }
        @media only screen and (min-width: 800px) {
            grid-template-columns: auto;
        }
        @media only screen and (min-width: 1000px) {
            grid-template-columns: auto auto;
        }
    }
}
.page-wrapper {
    display: grid;
    .intro, .main, .sidebar {
        @include space($screen-width, auto);
    }
    .intro {
        margin-top: $grid-spacing;
        position: relative;
        @media only screen and (min-width: 1000px) {
            header {
                display: grid;
                grid-template-columns: 40% 60%;
                h1 {
                    font-size: 300%;
                    height: 0px;
                    text-align: center;
                }
                h2 {
                    margin-top: 20px;
                }
            }
            .summary {
                position: relative;
                width: 60%;
                margin-left: 40%;
            }
        }
    }
    .main, .sidebar {
        margin-bottom: $grid-spacing;
        padding-bottom: 20px;
    }
    @media only screen and (min-width: 800px) {
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
    .main {
        @media only screen and (min-width: 800px) {
            grid-column: 1;
            grid-row: 2;
        }
    }
    .sidebar {
        @media only screen and (min-width: 800px) {
            grid-column: 2;
            grid-row: 1 / span 2;
            margin: $grid-spacing;
            margin-left: 0;
        }
    }
}
@media only screen and (min-width: 800px) {
    h1 {
        text-align: left;
        margin: 20px;
    }
}