@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Vollkorn+SC&display=swap');

// Declare variables -----------------------------------------------------------------------
$im-fell: 'IM Fell English';
$vollkorn: 'Vollkorn SC';

// Declare elements ------------------------------------------------------------------------
a {
    color: $orange;
    &:hover {
        color: $light-orange;
    }
}
h1, h2, h3 {
    font-family: $vollkorn;
    color: $brown;
}
p {
    font-family: $im-fell;
    color: $red-orange;
}

// Declare classes -------------------------------------------------------------------------
.design-selection ul li {
    font-family: $vollkorn;
    font-size: 14px;
    a {
        color: $black;
        text-decoration: none;
        font-weight: bolder;
    }
}