// Variables for layout. -------------------------------------------------------------------------
$grid-spacing: 10vh;
$screen-width: 90%;

// Add mixins for layout css here. ---------------------------------------------------------------
@mixin center {
    text-align: center;
}

@mixin space($width, $margin) {
    width: $width;
    margin: $margin;
}

// Create styles for elements. -------------------------------------------------------------------
body {
    margin: 0;
    padding: 0;
}

footer, 
h1 {
    @include center;
}

h2, 
h3,
ul {
    margin: 0 20px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

p,
footer,
.sidebar h3 {
    margin: 20px;
}

ul {
    padding: 0;
}

// Create styles for classes. -------------------------------------------------------------------
.design-selection {
    ul {
        display: grid;
        @include center;
        li {
            @include space(100px, auto);
            margin-bottom: 20px;
            padding: 10%;
            height: 100px;
            border: 1px solid black;
        }
        @media (min-width: 1000px) {
            grid-template-columns: auto auto;
        }
    }
}

.page-wrapper {
    display: grid;
    .intro, .main, .sidebar {
        @include space($screen-width, auto);
    }
    .intro {
        margin-top: $grid-spacing;
    }
    .main, .sidebar {
        margin-bottom: $grid-spacing;
        padding-bottom: 20px;
    }
    @media (min-width: 800px) {
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
    .main {
        @media (min-width: 800px) {
            grid-column: 1;
            grid-row: 2;
        }
    }
    .sidebar {
        @media (min-width: 800px) {
            grid-column: 2;
            grid-row: 1 / span 2;
            margin: $grid-spacing;
            margin-left: 0;
        }
    }
}

@media (min-width: 800px) {
    h1 {
        text-align: left;
        margin: 20px;
    }
}